@import url("./assets/css/input.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
#root {
  @apply h-screen text-foreground bg-[length:100%_100%] bg-[url("./assets/img/bg.jpg")];
}
